/* You can add global styles to this file, and also import other style files */
nav.navbar {
    background-color: #447309;
}

.footerM {
    background-color: #447309;
}
.colorgree{
    background-color:#74C014 ;
}
.colotletter{
    color: whitesmoke !important;
}